.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .not-found-img {
    width: 400px;
  }
.home-button {
  max-width: max-content ;
  background-color: #272838;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
  .not-found-heading {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 56px;
    color: black;
  }
  
  @media (min-width: 576px) {
    .not-found-heading {
      font-size: 48px;
    }
  }
  