.header-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;
  color: black;
}
.header-wrapper {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}
.product {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.icon{
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.cart-count-badge {
  background-color: black;
  color: #eee;
  font-family: 'Roboto';
  font-size: 12px;
  height: fit-content;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px;
  
}
@media screen and (max-width: 678px) {
    
    
}